body {
    font-family: $font-family;
    font-size: $base-font-size;
    margin: 0;
    background: url('../img/scott-evans-f_CO1zX5g6o-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
    color: $p-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $p-color;
}

p {
    margin: 0 0 1rem;
}
