@font-face {
    font-family: 'Clash';
    src: url('/src/fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Mango';
    src: url('../fonts/MangoGrotesque-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Thunder';
    src: url('../fonts/Thunder-MediumHC.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}